.theater-showtime {
    .showtime-day {
        color: var(--color-subject-blue);
        font-size: 18px;
        margin-bottom: 10px;
    }

    .showtime-hour {
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;

        .showtime-hour-item {
            margin: 10px;
            :global{
                .timeCfm{
                    color: var(--color-subject-third) !important;
                    border-color: var(--color-subject-third) !important;
                    &::before{
                        display: block;
                        content: "";
                        background: var(--color-subject-third);
                        opacity: 0.2;
                    }
                }
            }
        }

    }
}