.home{
    width: 100%;
    .banner{
        margin: 30px 0;

    }
    .page-section{

        padding: 10px 50px;
        .section{
            margin-top: 60px;
        }
        .page-section1{
            
            .page-grid{
                display: grid;
                grid-template-columns: repeat(5, 1fr);
    
                // justify-content: space-between;
                
        
            }

        }
        

    }
    

}