.purchased-wrapper{
    border: 1px solid var(--color-grey-plus);
    padding: 10px 20px;
    border-radius: 15px;
    &:hover{
        border-color: var(--color-subject-minus);
        box-shadow:  3px 3px 6px -4px rgba(245, 197, 24, 0.16),
        6px 6px 16px 0 rgba(245, 197, 24, 0.12),
        9px 9px 28px 8px rgba(245, 197, 24, 0.08);;
    }
    .purchased-content{
        
    }
    
}