.movieModalWrapper {

    // color: white;
    // font-size: 20px;
    :global {
        .ant-modal {
            .ant-modal-content {

                border-radius: 20px;
                border: 2px solid var(--color-subject-main);







            }
        }

    }

}

// 外部所有添加standardModal的共享这些属性
:global {
    .standardModal {
        .ant-modal {
            .ant-modal-content {
                color: var(--color-text-white);
                background-color: var(--color-black-minus);

                .ant-modal-close {

                    color: var(--color-text-white);
                    padding-top: 5px;
                    padding-right: 10px;

                    .ant-modal-close-x {
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                    }

                    &:hover {
                        color: var(--color-subject-main);
                    }
                }

                .ant-modal-body {
                    padding: 40px 15px 15px 15px;



                }


            }
        }
    }
}

.modal-body {
    display: flex;
    flex-direction: column;

    .modal-content {
        display: flex;
        flex-direction: row;


        .modal-content-poster-container {
            max-width: 400px;
            padding-left: 10px;
            // width: 30%;
            width: 160px;

            .modal-content-poster {
                .modal-content-poster-img {
                    width: 150px;
                }


            }

            .modal-content-poster-title {
                padding-top: 5px;
                text-align: center;
                font-weight: 800;
                font-size: 25px;

                .poster-title {
                    // color:var(--color-text-white);
                    color: var(--color-subject-main);
                }
            }

        }

        .modal-content-info {
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .info-genresAndPlots {
                padding-bottom: 5px;

                .info-genres {
                    display: inline-flex;
                    flex-wrap: wrap;
                    padding-bottom: 10px;

                }

                .info-plots {
                    padding-left: 5px;
                    margin-bottom: 10px;

                    .info-plots.span {}

                }

            }

            .info-principal-credits {
                display: block;
                border: 0;
                padding: 0;

                .credits-list {
                    color: var(--color-text-white);
                    padding: 0;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    padding: 0;

                    .credits-list-item {

                        border-top: 1px solid var(--color-grey-plus);
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        padding: 5px 0px;
                        position: relative;
                        cursor: pointer;

                        .item-label {
                            font-size: 20px;
                            line-height: 35px;
                            font-weight: bold;

                        }

                        .item-content-list {
                            padding-left: 10px;
                            list-style: none;
                            font-size: 15px;
                            text-decoration: none;
                            display: inline-flex;
                            // color:var(--color-text-red);
                            color: var(--color-subject-main);

                            .item-content-list-item {
                                vertical-align: middle;
                                font-size: 15px;
                                line-height: 15px;

                                padding: 0px 10px;

                                &:not(:last-child) {
                                    border-right: 1px solid var(--color-grey-plus);
                                }

                                .specific-item-content {}

                            }

                        }

                    }
                }

            }
        }
    }

    .modal-func {
        text-align: center;
        margin: 10px 0 5px 0;

        .modal-btn {
            border: 1px solid var(--color-grey-plus);

            &:hover {
                border: 1px solid var(--color-subject-main) !important;
                color: var(--color-subject-main) !important;
            }
        }

    }
}