:root{
  --color-black:#000;
  --color-white:#FFF;
  --color-black-minus:#121212;
  --color-text-white: #d4d4d5; 
  --color-text-grey:#757576;

  /* 一般用于border */
  --color-grey-plus:#363636;
  --color-text-red:#EE4F51;
  --color-subject-yellow:#F5C518;
  --color-subject-blue:#5799EF;
}
html,
body {
  height: 100%;
  font-family: 'Microsoft YaHei';
  color: #333;
  /* background-color: rgb(255, 255, 255); */
  background-color: #000 !important;


}
/* html[theme='dark-mode'] {
  filter: invert(1) hue-rotate(180deg);
} */


* {
  box-sizing: border-box;
}


.annotation{


  /* 背景颜色记录： */
  color:#000;
  /* header淡灰色 */
  color:#121212; 
  /* 字体白-  footer-top*/
  color:#d4d4d5;
  /* 字体偏灰 footer-bottom */
  color:#757576;
  /* 灰色border footer-bottom */
  color:#363636;

}
